In [59]:
import pandas as pd
import numpy as np
import datetime as dt
from bsi_sentiment.twitter import search_tweets_sn

In [13]:
# sample query
tweets = search_tweets_sn(
  q="iphone",
  since="2012-08-01",
  until="2012-11-30",
  near="New York",
  radius="100km",
  lang="en",
  max_tweets=100
)

Downloading tweets: 100%|████████████████████████████████████████████████████████████| 100/100 [00:03<00:00, 25.50it/s]

In [19]:
tweet = tweets.__getitem__(0)
tweet

{'id': 274301714927071235, 'permalink': 'https://twitter.com/WilliamBilliot/status/274301714927071235', 'username': 'WilliamBilliot', 'text': "I've harvested 1,120 of food! http://t.co/ckQOrrzp #iphone, #iphonegames, #gameinsight", 'date': '2012-11-29'}

In [58]:
type('asdf') == str

True

In [62]:
some_date = 'abc'
some_date.strftime('%Y-%m-%d')

AttributeError: 'str' object has no attribute 'strftime'

In [63]:
# helper function
def convert_date_to_str(date, date_format='%Y-%m-%d'):
    try:
        date_str = date.strftime(date_format)
    except AttributeError:
        print('please enter valid format')
    return date_str

def get_tweets_df(query, start, end, lang='en', max_tweets=1000, near=None, radius=None):
    '''
    query: str
        the search query we want to perform
    start, end: str or datetime
        start and end of time range we are searching for, YYYY-MM-DD
    '''
    if type(start)!=str:
        start = convert_date_to_str(start)
    
    if type(end)!=str:
        end = convert_date_to_str(end)

    # get tweets using lib
    tweets = search_tweets_sn(
        q=query, since=start, until=end, near=near, radius=radius, lang=lang, max_tweets=max_tweets)
    
    # convert to dataframe
    df_dict = {'date': [], 'text': []}
    for t in tweets.tweets:
        df_dict['date'].append(t.date)
        df_dict['text'].append(t.text)
    
    df = pd.DataFrame.from_dict(df_dict)
    return df

get_tweets_df('iPad', start='2018-10-01', end='2018-10-30')

Downloading tweets: 100%|██████████████████████████████████████████████████████████| 1000/1000 [00:13<00:00, 72.01it/s]

           date                                               text
0    2018-10-29  I just entered to win an iPad mini from @Right...
1    2018-10-29  ok so the apple event yeah here are my predict...
2    2018-10-29  Apple expected to announce new iPad Pro withou...
3    2018-10-29  Interesting that iOS 12.1 is coming out on the...
4    2018-10-29  Plug in with Infinity Scratch! A chance to win...
..          ...                                                ...
995  2018-10-29  This child really took a picture with an IPad ...
996  2018-10-29  iPad/tablet cases coming soon..... these alrea...
997  2018-10-29  Fantastic INSET day with @P_Dawes looking at h...
998  2018-10-29  A few exciting projects to share with students...
999  2018-10-29  Tomorrow apple special event in Brooklyn is se...

[1000 rows x 2 columns]

In [65]:
get_tweets_df('Mac', start=dt.date(2018, 10, 1), end=dt.date(2018, 10, 14))

Downloading tweets: 100%|██████████████████████████████████████████████████████████| 1000/1000 [00:16<00:00, 62.43it/s]

           date                                               text
0    2018-10-13  ICYMI: ON-THE-GO Food Truck is out 8pm-midnigh...
1    2018-10-13  Mac Rumors: Apple Criticizes Proposed Anti-Enc...
2    2018-10-13  HS VB team ends up 3rd at the MAC tournament t...
3    2018-10-13  im rly editing and making mac and cheese at th...
4    2018-10-13  Inside Outside x Mac Miller off Faces. Literal...
..          ...                                                ...
995  2018-10-13  Orlando wit the T Mac throwback 📍 https://t.co...
996  2018-10-13  Shout out to Charlie and Bernie Mac, for prote...
997  2018-10-13  how about we consider mac miller instead https...
998  2018-10-13  “Michael Tsai - Blog - Is There Hope for the M...
999  2018-10-13  Mac Miller’s death still has me shocked. I’m n...

[1000 rows x 2 columns]